[metadata]
version = 0.0.1
author = Paulo Jr
githubprofile =  https://github.com/pauloresendejr
application_name = terraform-gen

[generate]
tags = { created_by = "terraform-gen" }
profile = "localstack"
provider = "aws"
region = "sa-east-1"
allowed_account_ids = ["1111"]
terraform_version = ">= 1.12.0"
bucket_name = terraform-tfstates
project_name = terraform-gen
aws_provider_version = 6.2