# configuração do terraform
# profile_name = "localstack"
# region = "us-east-1"
# allowed_account_ids = ["1111"]
# required_version = ">= 1.12.0"
# backendtype = "s3"
# bucketName = terraform-gen
# key = "terraform-gen/projeto-generated.tfstate"
# bucket_region = "us-east-1"
# bucket_profile = "terraform-gen"
# aws_provider_version = "~> 6.2"
# tags = {
#     created_by = "terraform-gen"
# }


[metadata]
version = 0.0.1
author = Paulo Jr
githubprofile =  https://github.com/pauloresendejr
application_name = terraform-gen

[generate]
tags = { created_by = "terraform-gen" }
profile = "localstack"
provider = "aws"
region = "sa-east-1"
allowed_account_ids = ["1111"]
terraform_version = ">= 1.12.0"
bucket_name = terraform-tfstates
project_name = terraform-gen
aws_provider_version = 6.2