# output.tf

output "aws_account" {
    value = data.aws_caller_identity.current.account_id
}

output "aws_region" {
    value = data.aws_region.current.name
}

output "aws_tags" {
    value = local.tags  
}